/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication2/dist/
/JDBCDemo/nbproject/private/
/JDBCDemo/build/
/JDBCDemo/dist/
/*.class
/WebApplication3/nbproject/private/
/WebApplication3/build/
/WebApplication3/dist/
/SignupMVC/nbproject/private/